@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';
body { height: 100%; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; text-rendering: optimizeLegibility; font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif; }
label { font-weight: 700; }
html { height: 100%; box-sizing: border-box; }
#app { height: 100%; }
*, *:before, *:after { box-sizing: inherit; }
.no-padding { padding: 0px !important; }
.padding-content { padding: 4px 0; }
a:focus, a:active { outline: none; }
a, a:focus, a:hover { cursor: pointer; color: inherit; text-decoration: none; }
div:focus { outline: none; }
.fr { float: right; }
.fl { float: left; }
.pr-5 { padding-right: 5px; }
.pl-5 { padding-left: 5px; }
.plr10{padding-right: 10px;padding-left: 10px;}
.block { display: block; }
.pointer { cursor: pointer; }
.inlineBlock { display: block; }
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
aside { background: #eef1f6; padding: 8px 24px; margin-bottom: 20px; border-radius: 2px; display: block; line-height: 32px; font-size: 16px; font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif; color: #2c3e50; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;
  a { color: #337ab7; cursor: pointer;
    &:hover { color: rgb(32, 160, 255); }
  }
}

.app-container { padding: 20px; min-height: calc(100vh - 84px); width:100%}
.components-container { margin: 30px 50px; position: relative; }
.pagination-container { margin-top: 30px; }
.text-center { text-align: center }
.sub-navbar { height: 50px; line-height: 50px; position: relative; width: 100%; text-align: right; padding-right: 20px; transition: 600ms ease position; background: linear-gradient(90deg, rgba(32, 182, 249, 1) 0%, rgba(32, 182, 249, 1) 0%, rgba(33, 120, 241, 1) 100%, rgba(33, 120, 241, 1) 100%);
  .subtitle { font-size: 20px; color: #fff; }
  &.draft { background: #d0d0d0; }
  &.deleted { background: #d0d0d0; }
}
th .cell{text-align: center;}
.link-type, .link-type:focus { color: #337ab7; cursor: pointer;
  &:hover { color: rgb(32, 160, 255); }
}
.filter-container { padding-bottom: 10px;
  .filter-item { display: inline-block; vertical-align: middle; margin-bottom: 10px; }
}
//refine vue-multiselect plugin
.multiselect { line-height: 16px; }
.multiselect--active { z-index: 1000 !important; }
.inputCell { display: block; width: 100%; height: 30px; border: none; padding-left: 6px; padding-right: 6px; }
.tdCell { padding: 0 !important;
  .cell { padding: 0 !important }
}

.tdCell .cell .el-date-editor input{border: none!important;}
.tdCell .cell .el-date-editor input:focus{border: 1px #000 solid!important;}
.tdCell .cell .el-date-editor .el-input__prefix{display: none!important}
.tdCell .cell .el-date-editor .el-input__inner{padding-left:20px!important }

.dataTable{
  border-radius: 8px;
  padding: 10px 10px;
  background-color: #fff;
  width:100%;
  position:relative;
  margin-bottom: 10px;
}

.dataTable .el-form-item { margin-bottom: 5px; }
.dataTable .el-date-editor.el-input--small{width: 125px;}
.dataTable .el-select--small{width: 125px!important;}
.dataTable .el-input--small{width: 125px;}

.dataTable .el-input__inner { padding: 0 8px; border-radius: 2px;width: 100%; }
.el-date-editor--date .el-input__inner { padding: 0 0 0 30px; border-radius: 2px; }
.dataTable .el-form-item__label { font-size: 12px; padding-right: 5px; }
/*.el-table th>.cell { text-align: center; }*/
.popper__arrow { display: none !important }
.el-select-dropdown__list { padding: 0 0; }
.el-popper[x-placement^="bottom"] { margin-top: -3px; }
.el-select-dropdown { border-radius: 0 }
.el-select-dropdown__item { padding: 0 10px; font-size: 12px; }
.tx-r{text-align: right;}
.tx-c .cell{text-align: center}
.zhi{font-size: 12px}
.el-select .el-input__inner{padding: 0 5px;}
input:disabled{background-color:#ffffff;}

.el-message-box{width:270px}
.el-message-box__btns{text-align:center;padding:10px 15px 0}
.el-message-box__btns button:nth-child(2){margin-left:20px}

.filter-container .el-date-editor.el-input--small{width: 120px;}
.filter-container .el-select--small{width: 120px!important;}
.filter-container .el-input--small{width: 120px;}
.filter-container .el-input .el-input__inner {width: 100%;padding-left: 8px }
.filter-container .el-date-editor.el-input .el-input__inner{padding-left: 30px;padding-right:20px}
.filter-container .el-button--small{margin-left: 10px;margin-right: 0}
.el-input--suffix .el-input__inner {padding-right: 20px!important;}
.el-popper[x-placement^=bottom] {
    margin-top: 4px!important;
}
.el-dialog__body{padding:14px 20px 10px!important}
.el-radio__label{padding-left:5px!important}
.el-checkbox__label{padding-left:5px!important}
.tx-r{text-align:right!important}
.tpCell{padding-top: 0!important;padding-bottom: 0!important;}
.tpCell .cell{padding-left: 0!important;padding-right: 0!important;}
.tpCell .cell p{margin-top: 0!important;margin-bottom: 0!important;line-height: 32px;border-bottom:1px solid #EBEEF5;padding-left: 10px;padding-right: 10px}
.tpCell .cell p:last-child{border-bottom:none}

.detail .dataTable span{width: 120px!important;display: block;}
.clearfix:after{display: table;content: '';clear: both;}
.filter-container .label{font-size:13px;}

*::-webkit-scrollbar { width: 8px;height: 9px; }
*::-webkit-scrollbar-thumb { border-radius: 3px; background-color: #CCCCCC; }
*::-webkit-scrollbar-track { background-color: #f5f5f5; }

.mainPage{
  min-height: calc(100vh - 120px);
  padding: 20px;
  background: rgba(65,63,112,0.1);
}
.filterDiv{
  border-radius: 8px;
  padding: 10px 20px;
  background-color: #ffffff;
  width:100%;
  position:relative;
  margin-bottom: 10px;
}
.filterDiv .label{font-size:14px;color: #606266; line-height: 40px; padding-right: 5px;}
.filterDiv .el-date-editor.el-input--small{width: 120px;}
.filterDiv .el-select--small{width: 120px!important;}
.filterDiv .el-input--small{width: 120px;}
.filterDiv .el-input .el-input__inner {width: 100%;padding-left: 8px }
.filterDiv .el-date-editor.el-input .el-input__inner{padding-left: 30px;padding-right:20px}
.filterDiv .el-button--small{margin-left: 10px;margin-right: 0}

.contentDiv{
  border-radius: 8px;
  padding: 20px;
  background-color: #ffffff;
}

.ml10{margin-left: 10px}

.submitBtn{padding-left: 30px; padding-right: 30px;}

.el-icon-question{font-size: 16px; color: #409EFF;margin-top: 12px;}
.el-form-item .el-icon-question {margin-left: -10px;margin-right:10px;}
.el-form-item span+.el-icon-question {margin-left: 0px;margin-right:10px;}
