<div class="bw100 urel" style="padding-bottom:0">
    <div class="pb15 plr15 ov-y bgb" style="height:100%;">
        <div class="clearfix plr05 mt10 table-control">
            <strong class="category-tit">类别：</strong>
            <ul class="category-list"></ul>
            <div class="w80 bac h30 ufr tx-c" onclick="updateDispName()">校正名称</div>
        </div>
        <table id="dataTable" class="table table-bordered table-hover table-condensed dataTable" width="100%"></table>
    </div>
</div>

<div class="modal uhide" aria-hidden="true" id="editDiv" data-backdrop="static">
    <div class="modal-dialog w450">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">关闭</button>
                <h4 class="modal-title" id="myModalLabel">修改科目参数</h4>
            </div>
            <div class="modal-body" style="height:360px">
                <form role="form" id="addCourseForm" class="form-horizontal">
                    <input id="id" name="id" type="hidden">
                    <input id="coaLevel" name="coaLevel" type="hidden">
                    <input id="leaf" name="leaf" value="1" type="hidden">
                    <input id="ver" name="ver" value="0" type="hidden">
                    <input id="coaHierarchyId" name="coaHierarchyId" type="hidden">
                    <input id="isForceAddChild" name="isForceAddChild" value="0" type="hidden">
                    <input id="unchageableFlag" name="unchageableFlag" type="hidden">
                    <input id="coaIndustryId" name="coaIndustryId" type="hidden">
                    <input id="dispName" name="dispName" type="hidden">
                    <input id="noAuxiliary" name="noAuxiliary" type="hidden">
                    <div class="control-group">
                        <label>科目类别:</label>
                        <div class="uds">
                            <select id="coaClassId" name="coaClassId" class="uds bac h30" disabled="disabled"></select>
                        </div>
                    </div>
                    <div class="control-group mt05">
                        <label>科目编码:</label>
                        <div class="uds">
                            <input class="uds bac h30 w200" type="text" autocomplete="off" name="coaCode" id="coaCode" maxlength="32"/>
                        </div>
                    </div>
                    <div class="control-group mt05">
                        <label>科目名称:</label>
                        <div class="uds">
                            <input class="uds bac h30" type="text" autocomplete="off" name="coaName" id="coaName" />
                        </div>
                    </div>
                    <div class="control-group mt05">
                        <label>上级科目:</label>
                        <select id="parentId" name="parentId" class="uds p0 w200 bac h30" disabled="disabled"></select>
                    </div>
                    <div class="control-group">
                        <label>借贷方向:</label>
                        <div class="uds h28">
                            <input class="uds ml10 mt0" type="radio" id="crDr_1" name="crDr" value="1" checked />借
                            <input class="uds ml10 mt0" type="radio" id="crDr_2" name="crDr" value="-1" />贷
                        </div>
                    </div>
                    <div class="control-group">
                        <label>是否现金:</label>
                        <div class="uds h28">
                            <input class="uds ml10 mt0" type="radio" id="cashFlowFlag_1" value="1" name="cashFlowFlag" />是
                            <input class="uds ml10 mt0" type="radio" id="cashFlowFlag_2" value="0" name="cashFlowFlag" checked />否
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="control-group">
                    	    <label class="uds h20">币种核算:</label>
                    	    <input class="uds ml05" type="checkbox" value="1" id="isCurrency" name="isCurrency" /><br/>
                        	<label class="uds h20">辅助核算:</label>
                        	<input class="uds ml05" type="checkbox" value="1" id="isAuxiliary" name="isAuxiliary" />
                        	<i class="f12">(至多选6项)</i><br/>
                        	<div id="initAuxiliary" class="subCheckbox uhide"></div>
                        	<label class="uds h20">数量核算:</label>
                        	<input class="uds ml05" type="checkbox" value="1" id="isQuantity" name="isQuantity" onChange="changeThis(this)" />
                       		<div class="uds h20 clearfix w120">
                           		<input id="uom" name="uom" type="text" autocomplete="off" placeholder="计量单位" maxlength="6" class="bac subCheckbox uhide mt0 uom" />
                        	</div>
                    	</div>
                    </div>
                    <div class="control-group">
                        <div class="control-group">
                    	    <label class="uds h20">禁用标志:</label>
                    	    <input class="uds ml05" type="checkbox" value="1" id="isDisable" name="isDisable" onchange="setDisableChildren()"/>
                    	    <label class="uds h20">同时修改子科目:</label>
                    	    <input class="uds ml05" type="checkbox" value="1" id="isDisableChildren" name="isDisableChildren" />
                    	</div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="saveCourse()">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
var glCoaTable,selectedTreeNode,coaClassificationData,coaClassCode;
inputInit();
initForm();
initCoaData(sessionStorage.uuid);
getCoaClass("1");

function getCoaClass(type){
    $.ajax({
        url: ip_url+"std/coaClassification/select",
        dataType : "json",
        type : "post",
        contentType : "application/json; charset=utf-8",
        data:JSON.stringify({coaClassLevel:type}),
        success : function(res) {
            var selectHtml='';
            if(res.data){
                for(var i=0;i<res.data.length;i++){
                    var activeHtml = i==0?'cur':'';
                    selectHtml +='<li class="'+activeHtml+'" onclick="getCurClassTables(this,'+i+')">'+res.data[i].coaClassName+'</li>'
                }
                coaClassificationData = res.data;
                coaClassCode = coaClassificationData[0].coaClassCode;
                initDataTables();
            }
            $('.category-list').html(selectHtml);
        },
        error : function() {
            logout_login("请重新登录");
        }
    });
}

function getCurClassTables(obj,i){
    $(obj).addClass('cur').siblings().removeClass('cur');
    coaClassCode = coaClassificationData[i].coaClassCode;
    glCoaTable.fnDestroy();
    initDataTables();
}

function showPop(obj) {
    var rowNode = obj.parentNode.parentNode.parentNode;
    var rowData = glCoaTable.fnGetData(rowNode);
    $.ajax({
        url: ip_url+"gl/coa/getCoaCodeUsedByIdNoSysTemplet/"+rowData.id,
        async : false,
        dataType : "json",
        type : "post",
        contentType : "application/json; charset=utf-8",
        success : function(res) {
            if(res.body==1){
                layer.confirm("本科目已被使用，增加第一个下级科目时，系统将把上述信息更新至新增的下级科目中,是否继续？", {
                  btn: ['确定','取消']
                }, function(){
                    layer.closeAll();
                    $("#isForceAddChild").val("1");addCourse(obj);
                });
            }else{
                $.ajax({
                    url: ip_url+"gl/coa/getCoaCodeUsedById/"+rowData.id,
                    async : false,
                    dataType : "json",
                    type : "post",
                    contentType : "application/json; charset=utf-8",
                    success : function(res) {
                        if(res.body==1){
                            $("#isForceAddChild").val("1");addCourse(obj);
                        }else{
                            $("#isForceAddChild").val("0");addCourse(obj);
                        }
                    },
                    error: function(e) {
                        logout_login("请重新登录");
                    }
                });
            }
        },
        error: function(e) {
            logout_login("请重新登录");
        }
    });
}

function changeThis(obj){
    if($(obj).is(':checked')){
        $(obj).next().removeClass('uhide');
    }else{
        $(obj).next().addClass('uhide');
    }
}

function addCourse(obj) {
    var rowNode = obj.parentNode.parentNode.parentNode;
    var rowData = glCoaTable.fnGetData(rowNode);
    if (rowData.coaLevel >= userInfo.glBookEntity.coaLevel) {layer.msg("已到科目最大级次，不能再增加下级！",{icon:5});return;}
    $("#editDiv").modal("show");$('#addCourseForm')[0].reset();$('.modal-title').html('新增科目');$("#id").val("");
    $("#dispName").val("");
    $('#unchageableFlag').val('0');
    $('.subCheckbox').addClass('uhide');
    $('#editDiv input,#editDiv select').attr('readonly',false).attr('disabled',false);//初始化全部可用
    enDisabled("#parentId");
    enDisabled('#coaClassId');
    enAvailable("#uom");
    getNewCoaCode(rowData.coaCode, rowData.coaLevel, rowData.coaStartCode);//生成科目编码
    $("input[name='crDr'][value=" + rowData.crDr + "]").prop('checked', true);//科目方向
    initCoaClassification('',rowData.coaClassId);//科目类别
    $("#coaLevel").val(rowData.coaLevel+1);
    $("#coaHierarchyId").val(rowData.coaHierarchyId);
    $('#noAuxiliary').val(rowData.noAuxiliary);
    selectInit('parentId',[{id: rowData.id,text: rowData.coaName}]);
    if ($("#isForceAddChild").val() == '1'||rowData.isAuxiliary == '1'||rowData.isCurrency == '1'||rowData.isQuantity == '1'||rowData.noAuxiliary== '1'){
        enDisabled('#isAuxiliary');
        enDisabled('#isCurrency');
        enDisabled('#isQuantity');
        enDisabled("input[name*='auxiliaryName']");
        enDisabled("input[name*='currency']");
        enDisabled("#uom");
    }
    enAvailable("#isDisable");
    enAvailable("#isDisableChildren");
}

function initCoaClassification(code,data){
    $.ajax({
        url: ip_url+"std/coaClassification/getSelectList",
        async : false,
        dataType : "json",
        type : "post",
        data : JSON.stringify({coaClassLevel : 2,coaStartCode:code}),
        contentType : "application/json; charset=utf-8",
        success : function(res) {
            selectInit('coaClassId',res.data);
            $('#coaClassId').val(data);
        },
        error: function(e) {
            logout_login("请重新登录");
        }
    });
}

//修改科目初始化
function editCourse(obj) {
    var rowNode = obj.parentNode.parentNode.parentNode;
    var rowData = glCoaTable.fnGetData(rowNode);
    $('#addCourseForm')[0].reset();$('.subCheckbox').addClass('uhide');$('.modal-title').html('修改科目');$('#editDiv').modal('show');$("#id").val(rowData.id);
    $("#coaLevel").val(rowData.coaLevel);
    $("#coaHierarchyId").val(rowData.coaHierarchyId);
    $("#unchageableFlag").val(rowData.unchageableFlag);
    $("#coaIndustryId").val(rowData.coaIndustryId);
    $("#dispName").val(rowData.dispName);
    $("#coaName").val(rowData.coaName);
    $('#noAuxiliary').val(rowData.noAuxiliary);
    $('#leaf').val(rowData.leaf);
    $("#coaCode").val(rowData.coaCode).attr('readonly','readonly');
    selectInit('parentId', [{id: rowData.parentId,text: rowData.parentCoaName}])
    initCoaClassification(rowData.coaStartCode,rowData.coaClassId)
    $("input[name='crDr'][value=" + rowData.crDr + "]").prop('checked', true);
    $("input[name='cashFlowFlag'][value=" + rowData.cashFlowFlag + "]").prop('checked', true);
//    $("input[name='ctrlNet'][value=" + rowData.ctrlNet + "]").prop('checked', true);
//    $("input[name='ctrlBalance'][value=" + rowData.ctrlBalance + "]").prop('checked', true);
    $("input[name='isAuxiliary'][value=" + rowData.isAuxiliary + "]").prop('checked', true);
    $("input[name='isCurrency'][value=" + rowData.isCurrency + "]").prop('checked', true);
    $("input[name='isQuantity'][value=" + rowData.isQuantity + "]").prop('checked', true);
    $("input[name='isDisable'][value=" + rowData.isDisable + "]").prop('checked', true);
    enAvailable("#uom");
    setDisableChildren();
    if (rowData.isAuxiliary == '1') {
        $("#initAuxiliary").removeClass('uhide');
        $.ajax({
            url: ip_url+"gl/auxiliaryType/get",
            async: false,
            dataType: "json",
            type: "post",
            contentType: "application/json; charset=utf-8",
            success: function(res) {
                initAuxiliary(res.data);
                for (var i = 0; i < rowData.auxiliary.length; i++) {
                    if (rowData.auxiliary.charAt(i) == 1) {
                        $("input[name='auxiliaryName_" + i + "']").prop('checked', true);
                    }
                }
            },
            error: function(e) {
                logout_login("请重新登录");
            }
        });
    }
    $('#editDiv input,#editDiv select').attr('readonly','readonly').attr('disabled','disabled');//所有输入框，下拉框禁止输入
    enAvailable("#isDisable");
    enAvailable("#isDisableChildren");
    if (rowData.noAuxiliary == 1) {
        enDisabled('#isAuxiliary');enDisabled('#isCurrency');enDisabled('#isQuantity');
        enDisabled("input[name*='auxiliaryName']");enDisabled("input[name*='currency']");enDisabled("#uom");
        return;
    }
    if (rowData.isQuantity == 1) {$("#uom").removeClass('uhide');$("#uom").val(rowData.uom);}
    if (rowData.unchageableFlag == 1) {
        if(rowData.leaf==1){
            $.ajax({
                url: ip_url+"gl/coa/getCoaCodeUsedByIdNoTemplet/"+rowData.id,
                type: "post",
                async: false,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function(res) {
                    if (res.body!= 1) {
                        enAvailable('#isAuxiliary');enAvailable('#isCurrency');enAvailable('#isQuantity');
                        enAvailable("input[name*='auxiliaryName']");enAvailable("input[name*='currency']");enAvailable("#uom");
                        enAvailable("#isDisable");
                        enAvailable("#isDisableChildren");
                    }
                },
                error: function(e) {
                    logout_login("请重新登录");
                }
            });
        }
    }else{
        if(rowData.leaf==1){
            $.ajax({
                url: ip_url+"gl/coa/getCoaCodeUsedByIdNoTemplet/"+rowData.id,
                type: "post",
                async: false,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function(res) {
                    if (res.body!= 1) {
                        enAvailable('#isAuxiliary');
                        enAvailable('#isCurrency');
                        enAvailable('#isQuantity');
                        enAvailable('input[name=crDr]');enAvailable('input[name=cashFlowFlag]');
//                        enAvailable('input[name=ctrlNet]');enAvailable('input[name=ctrlBalance]');
                        enAvailable("input[name*='auxiliaryName']");
                        enAvailable("input[name*='currency']");
                        enAvailable("#uom");
                    }
                },
                error: function(e) {
                    logout_login("请重新登录");
                }
            });
            enAvailable("#coaName");
            enAvailable("#isDisable");
            enAvailable("#isDisableChildren");
        }
    }
}

// 新增科目时生成科目编码
function getNewCoaCode(coaCode, coaLevel, coaStartCode) {
    var glCoaCodeParm = {
        coaCode: coaCode,
        coaLevel: coaLevel,
        coaStartCode: coaStartCode
    };
    $.ajax({
        url: ip_url+"gl/coa/getGlCoaCode",
        dataType: "json",
        type: "post",
        async: false,
        data: JSON.stringify(glCoaCodeParm),
        contentType: "application/json; charset=utf-8",
        success: function(res) {
            $("#coaCode").val(res.body).attr('readonly',false);
        },
        error: function(e) {
            logout_login("请重新登录");
        }
    });
}

// -------检验checkBox数组是否被选择了-------
function CheckBoxNum(id) {
    var cbs = $$(id).getElementsByTagName('input');
    var number = 0;
    for (var i = 0; i < cbs.length; i++) {
        if (cbs[i].type == "checkbox" && cbs[i].checked) {
            number++;
        }
    }
    return number;
}

function delCourse(obj) {
    var rowNode = obj.parentNode.parentNode.parentNode;
    var rowData = glCoaTable.fnGetData(rowNode);
    $.ajax({
        url: ip_url+"gl/coa/getCoaCodeUsedByIdNoSysTemplet/"+rowData.id,
        async : false,
        dataType : "json",
        type : "post",
        contentType : "application/json; charset=utf-8",
        success : function(res) {
            if(res.body==1){
                $.ajax({
                    url: ip_url+"gl/coa/getChildrenCountByParentId",
                    dataType : "json",
                    type : "post",
                    contentType : "application/json; charset=utf-8",
                    data:JSON.stringify({parentId:rowData.parentId}),
                    success : function(res) {
                        if(res.body>1){
                            layer.msg('此科目在余额表/凭证/模板中使用，不可删除！', {icon:5});
                        }else{
                            layer.confirm('此科目在余额表/凭证/模板中使用，删除后，数据将自动回滚至上级科目，是否继续？', {
                              btn: ['确定','取消']
                            }, function(){
                               delThisCourse(rowData.id);
                            }, function(index){
                               layer.close(index);
                            });
                        }
                    },
                    error : function() {
                        logout_login("请重新登录");
                    }
                });
            }else{
                $.ajax({
                    url: ip_url+"gl/coa/getCoaCodeUsedById/"+rowData.id,
                    async : false,
                    dataType : "json",
                    type : "post",
                    contentType : "application/json; charset=utf-8",
                    success : function(res) {
                        if(res.body==1){
                            $.ajax({
                                url: ip_url+"gl/coa/getChildCountById",
                                dataType : "json",
                                type : "post",
                                contentType : "application/json; charset=utf-8",
                                data:JSON.stringify({parentId:rowData.parentId}),                                success : function(res) {
                                    if(res.body>1){
                                        layer.msg('此科目在余额表/凭证/模板中使用，不可删除！', {icon:5});
                                    }else{
                                        layer.confirm('此科目在余额表/凭证/模板中使用，删除后，数据将自动回滚至上级科目，是否继续？', {
                                          btn: ['确定','取消']
                                        }, function(){
                                           delThisCourse(rowData.id);
                                        }, function(index){
                                           layer.close(index);
                                        });
                                    }
                                },
                                error : function() {
                                    logout_login("请重新登录");
                                }
                            });
                        }else{
                            layer.confirm('确定要删除这个科目吗？', {
                              btn: ['确定','取消']
                            }, function(){
                                delThisCourse(rowData.id);
                            }, function(index){
                              layer.close(index);
                            });
                        }
                    },
                    error: function(e) {
                        logout_login("请重新登录");
                    }
                });
            }
        },
        error: function(e) {
            logout_login("请重新登录");
        }
    });
}

function delThisCourse(id){
    $.ajax({
        url: ip_url+"gl/coa/deleteById",
        dataType : "json",
        type : "post",
        contentType : "application/json; charset=utf-8",
        data : JSON.stringify({id:id}),
        success : function(res) {
            if (res.errorCode == '0') {
                layer.msg("该科目删除完成！",{icon:1});
                refreshDataTables();
            } else {
                layer.msg(res.body,{icon:5});
            }
        },
        error: function(e) {
            logout_login("请重新登录");
        }
    });
}


function saveCourse() {
    if($('#coaName').val().trim()==""){
        layer.msg('科目名称不能为空!',{icon:5}); return;
    }
    if($('#isAuxiliary').is(':checked')&&!isCheckBoxNull('initAuxiliary')){
        layer.msg('辅助核算至少选择一个!',{icon:5}); return;
    }
    if(CheckBoxNum('initAuxiliary')>6){
        layer.msg('辅助核算项选择不能超过6个!',{icon:5}); return;
    }
    var data = $("#addCourseForm").formToObj();
    loading();
    $.ajax({
        url: ip_url+"gl/coa/save",
        dataType : "json",
        type : "post",
        data : JSON.stringify(data),
        contentType : "application/json; charset=utf-8",
        success : function(res) {
            closeLoading();
            if (res.errorCode == '0') {
                if($('#coaCode').attr('readonly')=='readonly'){
                    layer.msg("科目修改完成！",{icon:1});
                }else{
                    layer.msg("子科目添加完成！",{icon:1});
                }
                refreshDataTables();
                $('#editDiv').modal('hide');
            } else {
                layer.msg(res.body,{icon:5});
            }
        },
        error:function(){
            closeLoading();
            layer.alert("系统错误！");
        }
    });
}

function initDataTables() {
    glCoaTable = $("#dataTable").dataTable({
        bSort: false,
        bFilter: false,
        lengthChange: false,
        iDisplayLength: 200, 
        bPaginate : false, //是否显示(应用)分页器  
        oLanguage : { // 国际化配置
            sProcessing : "正在获取数据，请稍后...",
            sZeroRecords : "无数据!",
            sInfo : "",
            sInfoEmpty : "",
            sInfoFiltered : "",
            sInfoPostFix : ""
        },
        sAjaxSource: ip_url+"gl/coa/datatables",
        fnServerData: function(sSource, aDataSet, fnCallback) {
            $.ajax({
                dataType: 'json',
                type: "POST",
                url: sSource,
                data: JSON.stringify({coaClassCode:coaClassCode}),
                contentType: "application/json; charset=utf-8",
                success:fnCallback,
                error : function(e) {
                    logout_login("请重新登录");
                }
            });
        },
        aoColumns: [{
            "mData": "coaCode",
            "sTitle": "编码"
        }, {
            "mData": "pageCoaName",
            "sTitle": "名称"
        }, {
            "mData": "coaClassName",
            "sTitle": "科目分类"
        }, {
            "mData": "crDr",
            "sTitle": "<center>方向</center>",
            "mRender": function(data, type, full) {
                if (data == 1) {
                    return '<center>借</center>';
                } else {
                    return '<center>贷</center>';
                }
            }
        }, {
            "mData": "isAuxiliary",
            "sTitle": "<center>辅助核算</center>",
            "mRender": function(data, type, full) {
                if (data == 1) {
                    return '<center>是</center>';
                } else {
                    return '<center>否</center>';
                }
            }
        }, {
            "mData": "isCurrency",
            "sTitle": "<center>币种核算</center>",
            "mRender": function(data, type, full) {
                if (data == 1) {
                    return '<center>是</center>';
                } else {
                    return '<center>否</center>';
                }
            }
        }, {
            "mData": "isQuantity",
            "sTitle": "<center>数量核算</center>",
            "mRender": function(data, type, full) {
                if (data == 1) {
                    return '<center>是</center>';
                } else {
                    return '<center>否</center>';
                }
            }
        }, {
            "mData": "isDisable",
            "sTitle": "<center>禁用标志</center>",
            "mRender": function(data, type, full) {
                if (data == 1) {
                    return '<center><font color="red">是</font></center>';
                } else {
                    return '<center>否</center>';
                }
            }
        }, {
            "mData": "id",
            "sTitle": "<center>操作</center>",
            "mRender": function(data, type, full) {
                return '<center>\
                        <button class="btn btn-xs btn-default" title="增加下级" onclick="showPop(this)"><span class="icon-add"></span></button>\
                        <button class="btn btn-xs btn-default" title="修改" onclick="editCourse(this)"><span class="icon-edit"></span></button>\
                        <button class="btn btn-xs btn-default" title="删除" onclick="delCourse(this)"><span class="icon-delete"></span></button>\
                        <button class="btn btn-xs btn-default" title="禁用标志" onclick="disableCourse(this)"><span class="icon-read"></span></button>\
                        </center>';
            }
        }],
        fnDrawCallback: function(oSettings) {}
    });
}

function inputInit(){
    $('input[type=text]').focus(function(){
        $(this).parent().next().hide();
    })
}

/* 刷新datatables */
function refreshDataTables() {
    glCoaTable.fnDestroy();
    initDataTables(coaClassCode);
}

/* 初始化表单 */
var dimCoaClass;
function initForm() {
    $("#isAuxiliary").change(function() {
        if($(this).is(':checked')){
            $('#initAuxiliary').removeClass('uhide');
            $.ajax({
                url: ip_url+"gl/auxiliaryType/get",
                async : false,
                dataType : "json",
                type : "post",
                contentType : "application/json; charset=utf-8",
                success : function(res) {
                    initAuxiliary(res.data);
                },
                error: function(e) {
                    logout_login("请重新登录");
                }
            });
        }else{
            $("#initAuxiliary").addClass('uhide');
        }
    });
    // 数量核算
    $("#isQuantity").change(function() {
        if($(this).is(':checked')){
            $("#uom").removeClass('uhide');
        }else{
            $("#uom").addClass('uhide');
        }
    });

}
// ------根据数组初始化辅助凭证列表-----
function initAuxiliary(glAuiliaryArray) {
    var tmpHtml = '';
    for (var i = 0; i < glAuiliaryArray.length; i++) {
        var tmpIndex = glAuiliaryArray[i].seq - 1;
        tmpHtml = tmpHtml + '<input type="checkbox" class="uds" value="' + glAuiliaryArray[i].auxiliaryTypeName + '" id="auxiliaryName_' + tmpIndex + '" name="auxiliaryName_' + tmpIndex + '"><span class="uds mr05">' + glAuiliaryArray[i].auxiliaryTypeName+'</span>';
        if (i !== 0 && (i + 1) % 6 == 0) {
            tmpHtml = tmpHtml + '<br />';
        }
    }
    $("#initAuxiliary").html(tmpHtml);
}

// ---------使不可用----------
function enDisabled(obj){
    $(obj).attr('readonly','readonly').attr('disabled','disabled');
}

// ---------使可用----------
function enAvailable(obj){
    $(obj).attr('readonly',false).attr('disabled',false);
}

// -------下拉列表初始化-----
function selectInit(id,array){
    var optionHtml = '';
    for(var i=0;i<array.length;i++){
        optionHtml +='<option value="'+array[i].id+'">'+array[i].text+'</option>'
    }
    $('#'+id).html(optionHtml);
}

function updateDispName() {
    $.ajax({
        url: ip_url+"gl/coa/updateDispName/" + sessionStorage.uuid,
        async : false,
        dataType : "json",
        type : "post",
        contentType : "application/json; charset=utf-8",
        success : function(result) {
            if (result.errorCode == '0') {
                layer.msg("科目表校正完成！",{icon:1});
            } else {
                layer.msg("校正操作失败，请稍后再试！",{icon:5});
            }
        },
        error : function() {
            logout_login("请重新登录");
        }
    });
}

function setDisableChildren(){
	if ($('#isDisable').prop("checked")) {
		$("#isDisableChildren").prop("checked",true);
		$("#isDisableChildren").attr("disabled",true);		
	}else{
		$("#isDisableChildren").attr("disabled",false);		
	}
}
</script>
