<style>
.table>thead>tr>th {text-align: center;}
</style>

<div class="bw100 urel" style="padding-bottom:0">
    <div class="pb15 plr15 ov-y bgb" style="height:100%;">
    	<div class="urel h30">
	        <div class="clearfix w160 uabs h30" style="top:6px; right:0px">
	            <button class="btn btn-green btn-xs ufl mr10" id="saveBalanceBtn" onclick="saveThisTable(0)">保存</button>
	            <button class="btn btn-green btn-xs ufl" onclick="showBalance()">试算平衡汇总</button>
	        </div>
    	</div>
        <table id="dataTable" class="table table-bordered table-hover table-condensed dataTable"></table>
    </div>
</div>
<div class="modal uhide" id="testBalance" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog w600">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">关闭</button>
				<h4 class="modal-title" id="myModalLabel">试算平衡/汇总</h4>
			</div>
			<div class="modal-body">
				<table class="table table-bordered" id="getBalanceTrialVO"></table>
			</div>
		</div>
	</div>
</div>

<div class="modal uhide" id="auxiliaryTypeModal" aria-hidden="true" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">关闭</button>
				<h4 class="modal-title">配置辅助核算</h4>
			</div>
			<div class="modal-body" style="padding:10px;">
				<form role="form" id="addOrEditForm">
					<input id="editRowId" name="editRowId" type="hidden" value=""/>
					<input id="addRowId" name="addRowId" type="hidden" value=""/>
					<input id="editType" name="editType" type="hidden" value=""/>
					<div id="auxiliaryDiv" class="clearfix"></div>
					<div class="clearfix mt10">
						<div class="w_33 plr05">
							期初余额：<input oninput="numberChange1(this)" id="auxiliaryTypeBalance" type="text" onfocus="this.select()" autocomplete="off" class="h30 bac uds w100" value="0"/>
						</div>
						<div class="w_33 plr05">
							借方金额：<input oninput="numberChange1(this)" id="auxiliaryTypePeriodNetDr" type="text" onfocus="this.select()" autocomplete="off" class="h30 bac uds w100" value="0"/>
						</div>
						<div class="w_33 plr05">
							贷方金额：<input oninput="numberChange1(this)" id="auxiliaryTypePeriodNetCr" type="text" onfocus="this.select()" autocomplete="off" class="h30 bac uds w100" value="0"/>
						</div>
						<div class="w_33 plr05 mt10">
							期初数量：<input oninput="numberChange1(this)" id="auxiliaryTypeBalanceQty" type="text" onfocus="this.select()" autocomplete="off" class="h30 bac uds w100" value="0"/>
                        </div>
						<div class="w_33 plr05 mt10">
							借方数量：<input oninput="numberChange1(this)" id="auxiliaryTypePeriodNetQtyDr" type="text" onfocus="this.select()" autocomplete="off" class="h30 bac uds w100" value="0"/>
                        </div>
						<div class="w_33 plr05 mt10">
							贷方数量：<input oninput="numberChange1(this)" id="auxiliaryTypePeriodNetQtyCr" type="text" onfocus="this.select()" autocomplete="off" class="h30 bac uds w100" value="0">
                        </div>
					</div>
				</form>
			</div>
            <div class="modal-footer mt05">
                <button class="btn btn-primary" onclick="saveTheseItem()">确定</button>
                <button class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
		</div>
	</div>
</div>

<script type="text/javascript">
var dataTable,glBalanceVOArray;var AuxiliaryType = new Map();
var auxiliaryData;
var auxiliaryObj;
var auxiliaryDataSize;
var codingRule;
var glBalanceVOArray;
var mapBalance = new Map();
var mapBalanceQty = new Map();
var mapPeriodNetDr = new Map();
var mapPeriodNetQtyDr = new Map();
var mapPeriodNetCr = new Map();
var mapPeriodNetQtyCr = new Map();
var mapCrDr = new Map();
var auxiliaryData=[];
var curTreeItem;//当前科目数据
initBook();
initDataTables();
getAuxiliaryType();
initButton();

function initBook() {
	$.ajax({
		url : ip_url+"gl/book/getDefaultByOrgId",
		async : false,
		dataType : "json",
		type : "post",
		success : function(res) {					
			if(res!=null&&""!=res){
				data=res.data;
				if(data!=null){
					codingRule=data.codingRule;
					userInfo.glBookEntity=data;
				}
			}
		},
        error: function(e) {
            logout_login("请重新登录");
        }
	});
}

// 获取修改操作权限 如果有结转记录不能再修改
function initButton() {
	$.ajax({
		url : ip_url+"gl/periodClose/getClosePeriodClose",
		async : false,
		dataType : "json",
		type : "post",
		contentType : "application/json; charset=utf-8",
		success : function(res) {
			if (res.data != null && res.data.length > 0) {
				$("#saveBalanceBtn").attr("disabled", "disabled");
			}
		},
        error: function(e) {
            logout_login("请重新登录");
        }
	});
}

// ------显示试算平衡表------
function showBalance() {
	var res = testIsRight();
	$("#getBalanceTrialVO").empty();// 清空展现
	var isBalance = res.diffBalance == 0 && res.diffPeriodNet == 0?'平衡':'不平衡';
	var tmpHtml='<thead><tr>'+
				'<th>项目</th><th>期初借方</th><th>期初贷方</th><th>差额</th><th>借方发生额</th><th>贷方发生额</th><th>差额</th><th>是否平衡</th>'+
				'</tr></thead>'+
				'<tbody><tr>'+
				'<td>金额</td>'+
				'<td class="tx-c">' + res.sumBalanceDr + '</td>'+
				'<td class="tx-c">' + res.sumBalanceCr + '</td>'+
				'<td class="tx-c">' + res.diffBalance + '</td>'+
				'<td class="tx-c">' + res.sumPeriodNetDr + '</td>'+
				'<td class="tx-c">' + res.sumPeriodNetCr + '</td>'+
				'<td class="tx-c">' + res.diffPeriodNet + '</td>'+
				'<td class="tx-c">' + isBalance + '</td>'+
				'</tr></tbody>';
	$("#getBalanceTrialVO").html(tmpHtml);
	$("#testBalance").modal("show");
}

/* 试算平衡 */
function testIsRight() {
	var allResult = {
		sumBalanceDr : 0,
		sumBalanceCr : 0,
		sumPeriodNetDr : 0,
		sumPeriodNetCr : 0,
		diffBalance : 0,
		diffPeriodNet : 0,
		isNumer : true
	};
	var info = "";
	for (var i = 0; i < glBalanceVOArray.length; i++) {
		if (glBalanceVOArray[i].leaf == '0' || glBalanceVOArray[i].type == '1' && glBalanceVOArray[i].isAuxiliary == '1')
			continue;
		var tmpCrDr = glBalanceVOArray[i].crDr;// 方向
		var tmpBeginBalance = glBalanceVOArray[i].beginBalance;// 期初金额
		var tmpBeginBalanceQty = glBalanceVOArray[i].beginBalanceQty;// 期初数量
		var tmpPeriodNetDr = glBalanceVOArray[i].periodNetDr;// 借方金额
		var tmpPeriodNetQtyDr = glBalanceVOArray[i].periodNetQtyDr;// 借方数量
		var tmpPeriodNetCr = glBalanceVOArray[i].periodNetCr;// 贷方金额
		var tmpPeriodNetQtyCr = glBalanceVOArray[i].periodNetQtyCr;// 贷方数量
		if (tmpCrDr == 1) {
			allResult.sumBalanceDr = accAdd(allResult.sumBalanceDr, tmpBeginBalance);
		} else {
			allResult.sumBalanceCr = accAdd(allResult.sumBalanceCr, tmpBeginBalance);
		}
		allResult.sumPeriodNetDr = accAdd(allResult.sumPeriodNetDr, auxiliaryData[i].periodNetDr);
		allResult.sumPeriodNetCr = accAdd(allResult.sumPeriodNetCr, auxiliaryData[i].periodNetCr);
	}
	allResult.diffBalance = accSub(allResult.sumBalanceDr, allResult.sumBalanceCr);
	allResult.diffPeriodNet = accSub(allResult.sumPeriodNetDr, allResult.sumPeriodNetCr);
	balanceSum();
	balanceDisplay();
	return allResult;
}

// -----保存期初余额----
function saveThisTable(type) {
	var allResult = testIsRight();
	if (!allResult.isNumer) {
		layer.alert("借贷方期初金额/数量为数字类型！",{icon:5});
	} else {
		var info = "";
		if (allResult.diffBalance != 0) {
			info += "借贷方期初余额不等,";
		}
		if (allResult.diffPeriodNet != 0) {
			info += "借贷方发生额不等,";
		}
		loading();
		$.ajax({
			url : ip_url+"gl/balance/updateListForSetBegin",
			dataType : "json",
			type : "post",
			data : JSON.stringify(auxiliaryData),
			contentType : "application/json; charset=utf-8",
			success : function(res) {
				//console.log(res);
				closeLoading();
				if (res.errorCode=="0") {
					if(type == 0){
						layer.alert(info+"期初余额保存完成!",{icon:1});
					}
					if(type == 1){
						layer.alert("设置辅助核算设置完成!",{icon:1});
					}
					if(type == 2){
						layer.alert("关闭辅助核算设置完成!",{icon:1});
					}
					initDataTables();
				} else {
					if(type == 0){
						layer.alert(info+"期初余额保存失败!",{icon:5});
					}
					if(type == 1){
						layer.alert(res.msg,{icon:5});
					}
					if(type == 2){
						layer.alert(res.msg,{icon:5});
					}
					initDataTables();
				}
			},
			error:function(){
	            logout_login("请重新登录");
			}
		});
	}
}

function balanceSum() {
	// 要根据规则，向上汇总
	for (var i = 0; i < glBalanceVOArray.length; i++) {
		if (glBalanceVOArray[i].leaf == '0' || glBalanceVOArray[i].type == '1' && glBalanceVOArray[i].isAuxiliary == '1') {
			mapBalance.put(glBalanceVOArray[i].coaCode, '0');
			mapBalanceQty.put(glBalanceVOArray[i].coaCode, '0');
			mapPeriodNetDr.put(glBalanceVOArray[i].coaCode, '0');
			mapPeriodNetQtyDr.put(glBalanceVOArray[i].coaCode, '0');
			mapPeriodNetCr.put(glBalanceVOArray[i].coaCode, '0');
			mapPeriodNetQtyCr.put(glBalanceVOArray[i].coaCode, '0');
			glBalanceVOArray[i].beginBalance = '0';
			glBalanceVOArray[i].beginBalanceQty = '0';
			glBalanceVOArray[i].periodNetDr = '0';
			glBalanceVOArray[i].periodNetQtyDr = '0';
			glBalanceVOArray[i].periodNetCr = '0';
			glBalanceVOArray[i].periodNetQtyCr = '0';
		}
		// 缓存科目方向
		mapCrDr.put(glBalanceVOArray[i].coaCode, glBalanceVOArray[i].crDr);
	}
	var codingRuleArray = codingRule.split('-');
	for (var i = 1; i < codingRuleArray.length; i++) {
		codingRuleArray[i] = accAdd(codingRuleArray[i - 1], codingRuleArray[i]);
	}
	// 缓存list-size
	auxiliaryDataSize = glBalanceVOArray.length;
	for (var i = 0; i < glBalanceVOArray.length; i++) {
		var coaCode = glBalanceVOArray[i].coaCode;
		if (glBalanceVOArray[i].beginBalance == null && glBalanceVOArray[i].beginBalanceQty == null && glBalanceVOArray[i].periodNetDr == null && glBalanceVOArray[i].periodNetQtyDr == null && glBalanceVOArray[i].periodNetCr == null && glBalanceVOArray[i].periodNetQtyCr == null)
			continue;
		if (glBalanceVOArray[i].beginBalance == '0' && glBalanceVOArray[i].beginBalanceQty == '0' && glBalanceVOArray[i].periodNetDr == '0' && glBalanceVOArray[i].periodNetQtyDr == '0' && glBalanceVOArray[i].periodNetCr == '0' && glBalanceVOArray[i].periodNetQtyCr == '0')
			continue;
		if (glBalanceVOArray[i].leaf == '0')
			continue;
		for (var j = 0; j < codingRuleArray.length; j++) {
			if (codingRuleArray[j] > coaCode.length)
				break;
			var coaCode1 = coaCode.substr(0, codingRuleArray[j]);
			var crdr = accMul(glBalanceVOArray[i].crDr, mapCrDr.get(coaCode1));
			var balance = mapBalance.get(coaCode1);
			if (balance == null)
				balance = '0';
			if (glBalanceVOArray[i].beginBalance != null)
				balance = accAdd(balance, accMul(glBalanceVOArray[i].beginBalance, crdr));
			mapBalance.put(coaCode1, balance);
			var balanceQty = mapBalanceQty.get(coaCode1);
			if (balanceQty == null)
				balanceQty = '0';
			if (glBalanceVOArray[i].beginBalanceQty != null)
				balanceQty = accAdd(balanceQty, accMul(glBalanceVOArray[i].beginBalanceQty, crdr));
			mapBalanceQty.put(coaCode1, balanceQty);
			var periodNetDr = mapPeriodNetDr.get(coaCode1);
			if (periodNetDr == null)
				periodNetDr = '0';
			if (glBalanceVOArray[i].periodNetDr != null)
				periodNetDr = accAdd(periodNetDr, glBalanceVOArray[i].periodNetDr);
			mapPeriodNetDr.put(coaCode1, periodNetDr);
			var periodNetQtyDr = mapPeriodNetQtyDr.get(coaCode1);
			if (periodNetQtyDr == null)
				periodNetQtyDr = '0';
			if (glBalanceVOArray[i].periodNetQtyDr != null)
				periodNetQtyDr = accAdd(periodNetQtyDr, glBalanceVOArray[i].periodNetQtyDr);
			mapPeriodNetQtyDr.put(coaCode1, periodNetQtyDr);
			var periodNetCr = mapPeriodNetCr.get(coaCode1);
			if (periodNetCr == null)
				periodNetCr = '0';
			if (glBalanceVOArray[i].periodNetCr != null)
				periodNetCr = accAdd(periodNetCr, glBalanceVOArray[i].periodNetCr);
			mapPeriodNetCr.put(coaCode1, periodNetCr);
			var periodNetQtyCr = mapPeriodNetQtyCr.get(coaCode1);
			if (periodNetQtyCr == null)
				periodNetQtyCr = '0';
			if (glBalanceVOArray[i].periodNetQtyCr != null)
				periodNetQtyCr = accAdd(periodNetQtyCr, glBalanceVOArray[i].periodNetQtyCr);
			mapPeriodNetQtyCr.put(coaCode1, periodNetQtyCr);
		}
	}
	for (var i = 0; i < glBalanceVOArray.length; i++) {
		if (glBalanceVOArray[i].leaf == '0' || glBalanceVOArray[i].type == '1' && glBalanceVOArray[i].isAuxiliary == '1') {
			glBalanceVOArray[i].beginBalance = mapBalance.get(glBalanceVOArray[i].coaCode);
			glBalanceVOArray[i].beginBalanceQty = mapBalanceQty.get(glBalanceVOArray[i].coaCode);
			glBalanceVOArray[i].periodNetDr = mapPeriodNetDr.get(glBalanceVOArray[i].coaCode);
			glBalanceVOArray[i].periodNetQtyDr = mapPeriodNetQtyDr.get(glBalanceVOArray[i].coaCode);
			glBalanceVOArray[i].periodNetCr = mapPeriodNetCr.get(glBalanceVOArray[i].coaCode);
			glBalanceVOArray[i].periodNetQtyCr = mapPeriodNetQtyCr.get(glBalanceVOArray[i].coaCode);
		}
	}
}

function balanceDisplay() {
	auxiliaryData = [];
	var	n = userInfo.glBookEntity.enablePeriodNum > 1 ? '(1-' + (userInfo.glBookEntity.enablePeriodNum - 1) + '月)':'';
    var contentHtml='<thead>\
		                <tr>\
		                    <th rowspan="2">科目<br/>编码</th><th rowspan="2">科目名称</th><th rowspan="2">方向</th>\
		                    <th colspan="2" class="tx-c">期初余额('+userInfo.glBookEntity.enablePeriodCode+')</th>\
		                    <th colspan="2" class="tx-c">本年借方累计'+n+'</th>\
		                    <th colspan="2" class="tx-c">本年贷方累计'+n+'</th>\
		                </tr>\
		                <tr>\
		                    <th class="tx-c">金额(元，可输入)</th><th class="tx-c">数量(可输入)</th><th class="tx-c">金额(元)</th>\
		                    <th class="tx-c">数量</th><th class="tx-c">金额(元)</th><th class="tx-c">数量</th>\
		                </tr>\
		            </thead>\
                    <tbody id="balanceTable">';
	if (userInfo.glBookEntity.enablePeriodNum == 1) {
		$("#auxiliaryTypePeriodNetDr").attr("readonly", "readonly");
		$("#auxiliaryTypePeriodNetQtyDr").attr("readonly", "readonly");
		$("#auxiliaryTypePeriodNetCr").attr("readonly", "readonly");
		$("#auxiliaryTypePeriodNetQtyCr").attr("readonly", "readonly");
	}
    if(glBalanceVOArray.length>0){
        for(var i=0;i<glBalanceVOArray.length;i++){
            var item = glBalanceVOArray[i];
            auxiliaryData.push(item);
			// 科目名称
			if (item.leaf == 1) {// 科目叶子节点
				if (item.type == 1) {// 科目节点
					if (item.isAuxiliary == 1) {// 有辅助核算
						var childHtml = '<td class="urel">' + item.showCoaName + '\
											<span class="btn btn-green btn-xs configBtn" onclick="showSuplyConfig('+i+')">设置</span>\
										</td>';
						var readonly = ' readonly="readonly"';
						var readonly1 = ''; 
					} else {// 无辅助核算
						var childHtml = '<td>' + item.showCoaName + '</td>';
						var readonly = ''
						if(userInfo.glBookEntity.enablePeriodNum == 1){var readonly1 = ' readonly="readonly"';}else{var readonly1 = '';}
					}
		            contentHtml +='<tr>\
				            		<td>'+item.coaCode+'</td>'+childHtml+'\
				            		<td class="tx-c">'+DrFormat(item.crDr)+'</td>\
				            		<td class="setData"><input onchange="updateMapBalance('+i+')" id="' + item.showCoaCode + '_beginBalance" value="'+parseFloat(item.beginBalance).toFixed(2)+'" class="tx-r"'+readonly+' onfocus="this.select()"/></td>\
				            		<td class="setData"><input onchange="updateMapBalance('+i+')" id="' + item.showCoaCode + '_beginBalanceQty" value="'+item.beginBalanceQty+'" class="tx-c"'+readonly+' onfocus="this.select()"/></td>\
				            		<td class="setData"><input onchange="updateMapBalance('+i+')" id="' + item.showCoaCode + '_periodNetDr" value="'+parseFloat(item.periodNetDr).toFixed(2)+'" class="tx-r"'+readonly+' onfocus="this.select()"'+readonly1+'/></td>\
				            		<td class="setData"><input onchange="updateMapBalance('+i+')" id="' + item.showCoaCode + '_periodNetQtyDr" value="'+item.periodNetQtyDr+'" class="tx-c"'+readonly+' onfocus="this.select()"'+readonly1+'/></td>\
				            		<td class="setData"><input onchange="updateMapBalance('+i+')" id="' + item.showCoaCode + '_periodNetCr" value="'+parseFloat(item.periodNetCr).toFixed(2)+'" class="tx-r"'+readonly+' onfocus="this.select()"'+readonly1+'/></td>\
				            		<td class="setData"><input onchange="updateMapBalance('+i+')" id="' + item.showCoaCode + '_periodNetQtyCr" value="'+item.periodNetQtyCr+'" class="tx-c"'+readonly+' onfocus="this.select()"'+readonly1+'/></td>\
				            	   </tr>';
				} else {
					if (item.isAuxiliary == 1) {// 有辅助核算
						var childHtml = '<td class="urel">' + item.showCoaName + '\
											<span class="btn btn-danger btn-xs configBtn" onclick="reduceRows('+i+',this)">删除</span>\
										</td>';
						var readonly = ' readonly="readonly"';
						var readonly1 = ''; 
					} else {// 无辅助核算
						var childHtml = '<td>' + item.showCoaName + '</td>';
						var readonly = ''
						if(userInfo.glBookEntity.enablePeriodNum == 1){var readonly1 = ' readonly="readonly"';}else{var readonly1 = '';}
					}
		            contentHtml +='<tr>\
				            		<td>'+item.coaCode+'</td>'+childHtml+'\
				            		<td class="tx-c">'+DrFormat(item.crDr)+'</td>\
				            		<td class="setData"><input onchange="updateMapBalance('+i+')" id="' + item.showCoaCode + '_beginBalance" value="'+parseFloat(item.beginBalance).toFixed(2)+'" class="tx-r" onfocus="this.select()"/></td>\
				            		<td class="setData"><input onchange="updateMapBalance('+i+')" id="' + item.showCoaCode + '_beginBalanceQty" value="'+item.beginBalanceQty+'" class="tx-c" onfocus="this.select()"/></td>\
				            		<td class="setData"><input onchange="updateMapBalance('+i+')" id="' + item.showCoaCode + '_periodNetDr" value="'+parseFloat(item.periodNetDr).toFixed(2)+'" class="tx-r" onfocus="this.select()"'+readonly1+'/></td>\
				            		<td class="setData"><input onchange="updateMapBalance('+i+')" id="' + item.showCoaCode + '_periodNetQtyDr" value="'+item.periodNetQtyDr+'" class="tx-c" onfocus="this.select()"'+readonly1+'/></td>\
				            		<td class="setData"><input onchange="updateMapBalance('+i+')" id="' + item.showCoaCode + '_periodNetCr" value="'+parseFloat(item.periodNetCr).toFixed(2)+'" class="tx-r" onfocus="this.select()"'+readonly1+'/></td>\
				            		<td class="setData"><input onchange="updateMapBalance('+i+')" id="' + item.showCoaCode + '_periodNetQtyCr" value="'+item.periodNetQtyCr+'" class="tx-c" onfocus="this.select()"'+readonly1+'/></td>\
				            	   </tr>';
				}
			} else {// 非叶子节点
				var childHtml = '<td>' + item.showCoaName + '</td>';
	            contentHtml +='<tr>\
			            		<td>'+item.coaCode+'</td>'+childHtml+'\
			            		<td class="tx-c">'+DrFormat(item.crDr)+'</td>\
			            		<td class="setData"><input id="' + item.showCoaCode + '_beginBalance" value="'+parseFloat(item.beginBalance).toFixed(2)+'" class="tx-r" readonly /></td>\
			            		<td class="setData"><input id="' + item.showCoaCode + '_beginBalanceQty" value="'+item.beginBalanceQty+'" class="tx-c" readonly /></td>\
			            		<td class="setData"><input id="' + item.showCoaCode + '_periodNetDr" value="'+parseFloat(item.periodNetDr).toFixed(2)+'" class="tx-r" readonly /></td>\
			            		<td class="setData"><input id="' + item.showCoaCode + '_periodNetQtyDr" value="'+item.periodNetQtyDr+'" class="tx-c" readonly /></td>\
			            		<td class="setData"><input id="' + item.showCoaCode + '_periodNetCr" value="'+parseFloat(item.periodNetCr).toFixed(2)+'" class="tx-r" readonly /></td>\
			            		<td class="setData"><input id="' + item.showCoaCode + '_periodNetQtyCr" value="'+item.periodNetQtyCr+'" class="tx-c" readonly /></td>\
			            	   </tr>';
			}
        }
        $("#dataTable").html(contentHtml+'</tbody>');
    }else{
        var noneHtml ='<tr><td class="tx-c"><span class="mb20 mato mt20">暂无数据</span></td></tr>'
        $("#dataTable").html(noneHtml);
    }
}


function updateMapBalance(rowId) {
	var showCoaCode = auxiliaryData[rowId].showCoaCode;
	var crDr = auxiliaryData[rowId].crDr;
	var auxiliaryTypeBalance = toNumStr($("#" + showCoaCode + "_beginBalance").val());
	var auxiliaryTypeBalanceQty = toNumStr($("#" + showCoaCode + "_beginBalanceQty").val());
	var auxiliaryTypePeriodNetDr = toNumStr($("#" + showCoaCode + "_periodNetDr").val());
	var auxiliaryTypePeriodNetQtyDr = toNumStr($("#" + showCoaCode + "_periodNetQtyDr").val());
	var auxiliaryTypePeriodNetCr = toNumStr($("#" + showCoaCode + "_periodNetCr").val());
	var auxiliaryTypePeriodNetQtyCr = toNumStr($("#" + showCoaCode + "_periodNetQtyCr").val());
	auxiliaryData[rowId].beginBalance = auxiliaryTypeBalance;
	auxiliaryData[rowId].beginBalanceQty = auxiliaryTypeBalanceQty;
	auxiliaryData[rowId].periodNetDr = auxiliaryTypePeriodNetDr;
	auxiliaryData[rowId].periodNetQtyDr = auxiliaryTypePeriodNetQtyDr;
	auxiliaryData[rowId].periodNetCr = auxiliaryTypePeriodNetCr;
	auxiliaryData[rowId].periodNetQtyCr = auxiliaryTypePeriodNetQtyCr;
	if (crDr == 1) {
		auxiliaryData[rowId].beginBalanceDr = auxiliaryTypeBalance;
		auxiliaryData[rowId].beginBalanceQtyDr = auxiliaryTypeBalanceQty;
		auxiliaryData[rowId].beginBalanceCr = 0;
		auxiliaryData[rowId].beginBalanceQtyCr = 0;
	} else {
		auxiliaryData[rowId].beginBalanceDr = 0;
		auxiliaryData[rowId].beginBalanceQtyDr = 0;
		auxiliaryData[rowId].beginBalanceCr = auxiliaryTypeBalance;
		auxiliaryData[rowId].beginBalanceQtyCr = auxiliaryTypeBalanceQty;
	}
	$('input').each(function(){
		var thisValue = $(this).val();
		$(this).val(parseFloat(thisValue.replace(/[^\-?\d.]/g,'')).toFixed(2));
	})
}

// -----获取期初余额表格数据----
function initDataTables(){
    var searchData = {
			periodId : userInfo.glBookEntity.enablePeriodId,
			periodCode : userInfo.glBookEntity.enablePeriodCode,
			periodName : userInfo.glBookEntity.enablePeriodName,
			periodYear : userInfo.glBookEntity.enablePeriodYear,
			periodNum : userInfo.glBookEntity.enablePeriodNum,
			coaHierarchyId : userInfo.glBookEntity.coahierarchyId
		};
	loading();
    $.ajax({
        url : ip_url+"gl/balance/getListForSetBegin",
        type : "POST",
        data: JSON.stringify(searchData),
        dataType : 'json',
        contentType: "application/json",
        async: false,
        success: function(data){
        	closeLoading();
        	glBalanceVOArray = data;
	        balanceSum();
    		balanceDisplay();
        },
        error:function(){
        	closeLoading();
            logout_login("请重新登录");
        }
    });
}
function getAuxiliaryType() {
	$.ajax({
		url: ip_url+"gl/auxiliaryType/get",
		async: false,
		dataType: "json",
		type: "post",
		contentType: "application/json; charset=utf-8",
		success: function(res) {
			if (res != null) {
				initAuxiliary(res.data);
				for (var i = 0; i < res.data.length; i++) {
					AuxiliaryType.put(res.data[i].seq, res.data[i]);
				}
			}
		},
        error: function(e) {
            logout_login("请重新登录");
        }
	});
}

function initAuxiliary(arr) {
	$("#auxiliaryDiv").html('');
	for (var i = 0; i < arr.length; i++) {
		var item = arr[i];
		var html = '';
		if (item.isDisable != null && item.isDisable == 0 && item.delFlag == 0) {
			html += '<div id="' + item.auxiliaryTypeCode + '_selectDiv" class="w_33 plr05 mt05 uhide">';
			html += item.auxiliaryTypeName +'：<select id="' + item.auxiliaryTypeCode + '_select" class="h30 br05 bac uds w100">';
			html += '</select>';
			html += '</div>';
			$("#auxiliaryDiv").append(html);
			$.ajax({
				url : ip_url+item.serviceDataUrl + "/list",
				dataType: "json",
				type: "post",
				contentType: "application/json; charset=utf-8",
				async : false,
				success : function(data) {
					if(data&&data.length>0){
						var code = item.serviceDataUrl.split('/')[1];
						selectInit(item.auxiliaryTypeCode + "_select",data,code)
					}
				},
		        error : function(e) {
		            logout_login("请重新登录");
		        }
			});
		}
	}
}

// -------下拉列表初始化-----
function selectInit(id,array,code){
    var optionHtml = '';
    for(var i=0;i<array.length;i++){
    	codeValue = array[i][code+'Code'];
        optionHtml +='<option value="'+array[i].id+'" data-code="'+codeValue+'">'+array[i].text+'</option>'
    }
    $('#'+id).html(optionHtml);
}

function DrFormat(str){
	switch(str){
		case 1 : return "借";break;	case 0 : return "平";break;	case -1 : return "贷";break;
	}
}

// -----显示辅助核算配置----
function showSuplyConfig(i){
	var tmpObject = {};
	$.each(auxiliaryData[i], function(name, value) {
		tmpObject[name] = value;
	});
	// 清除之前的汇总数据
	tmpObject["beginBalance"] = '0';
	tmpObject["beginBalanceQty"] = '0';
	tmpObject["periodNetDr"] = '0';
	tmpObject["periodNetQtyDr"] = '0';
	tmpObject["periodNetCr"] = '0';
	tmpObject["periodNetQtyCr"] = '0';
	auxiliaryObj = $('#balanceTable').children().eq(i);
	auxiliaryData[auxiliaryDataSize] = tmpObject;
	configAuxiliary(auxiliaryDataSize, i, "create");
}

function configAuxiliary(editRowId, addRowId, type) {
	$("#auxiliaryDiv").children('div').addClass('uhide');
	$("#editRowId").val(editRowId);
	$("#addRowId").val(addRowId);
	$("#editType").val(type);
	var auxiliary = auxiliaryData[editRowId].auxiliary;
	if (auxiliary != null && auxiliary.length > 0) {
		for (var i = 0; i < auxiliary.length; i++) {
			if (auxiliary.charAt(i) == "1") {
				$("#"+AuxiliaryType.get(i + 1).auxiliaryTypeCode+'_selectDiv').removeClass('uhide');
			}
		}
	}
	$("#auxiliaryTypeBalance").val(toFormatStr(auxiliaryData[editRowId].beginBalance, 2, true));
	$("#auxiliaryTypeBalanceQty").val(auxiliaryData[editRowId].beginBalanceQty);
	$("#auxiliaryTypePeriodNetDr").val(toFormatStr(auxiliaryData[editRowId].periodNetDr, 2, true));
	$("#auxiliaryTypePeriodNetQtyDr").val(auxiliaryData[editRowId].periodNetQtyDr);
	$("#auxiliaryTypePeriodNetCr").val(toFormatStr(auxiliaryData[editRowId].periodNetCr, 2, true));
	$("#auxiliaryTypePeriodNetQtyCr").val(auxiliaryData[editRowId].periodNetQtyCr);
	$('#auxiliaryTypeModal').modal('show');
}

function validateNum(num) {
	var reg = /^\d+(?=\.{0,1}\d+$|$)/
	if (reg.test(num)) return true;
	return false;
}

function isInputTextNull(id) {
	var cbs = $$(id).getElementsByTagName('input');
	var b = false;
	for (var i = 0; i < cbs.length; i++) {
		if (cbs[i].type == "text" && validateNum(cbs[i].value)&&cbs[i].value!=0) {
			b = true;
			return true;
		}
	}
	if (!b) {
		return false;
	}
}
// -----保存辅助核算配置----
function saveTheseItem(){
	if(!isInputTextNull('addOrEditForm')){
		layer.msg("金额和数量选项不能全部为空！",{icon:5});return;
	}
	var re = /^[0-9]+\.?[0-9]*$/;
	var auxiliaryTypeBalance = toNumStr($("#auxiliaryTypeBalance").val());
	var auxiliaryTypeBalanceQty = toNumStr($("#auxiliaryTypeBalanceQty").val());
	var auxiliaryTypePeriodNetDr = toNumStr($("#auxiliaryTypePeriodNetDr").val());
	var auxiliaryTypePeriodNetQtyDr = toNumStr($("#auxiliaryTypePeriodNetQtyDr").val());
	var auxiliaryTypePeriodNetCr = toNumStr($("#auxiliaryTypePeriodNetCr").val());
	var auxiliaryTypePeriodNetQtyCr = toNumStr($("#auxiliaryTypePeriodNetQtyCr").val());
	var info = "";
	if (!testNum($("#auxiliaryTypeBalance").val())) {
		info += "期初余额不是数字,置为0！";
	}
	if (!testNum($("#auxiliaryTypeBalanceQty").val())) {
		info += "期初数量不是数字,置为0！";
	}
	if (!testNum($("#auxiliaryTypePeriodNetDr").val())) {
		info += "借方金额不是数字,置为0！";
	}
	if (!testNum($("#auxiliaryTypePeriodNetQtyDr").val())) {
		info += "借方数量不是数字,置为0！";
	}
	if (!testNum($("#auxiliaryTypePeriodNetCr").val())) {
		info += "贷方金额不是数字,置为0！";
	}
	if (!testNum($("#auxiliaryTypePeriodNetQtyCr").val())) {
		info += "贷方数量不是数字,置为0！";
	}
	if (info != "") {
		layer.alert(info);
	}
	if (checkRepeatShowCoaCode($("#editRowId").val())) {
		layer.alert("辅助核算组合已存在，请修改！");return;
	}
	initCoaAuxiliary($("#editRowId").val(), $("#addRowId").val(), $("#editType").val());
	$('#auxiliaryTypeModal').modal('hide');
}

/*** 将拟态框中数据放到table及本地集合中*/
var hexCas = [ 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z' ];
function initCoaAuxiliary(editRowId, addRowId, editType) {
	var showCoaCode = auxiliaryData[editRowId].showCoaCode;
	var auxiliaryTypeBalance = toNumStr($("#auxiliaryTypeBalance").val());
	var auxiliaryTypeBalanceQty = toNumStr($("#auxiliaryTypeBalanceQty").val());
	var auxiliaryTypePeriodNetDr = toNumStr($("#auxiliaryTypePeriodNetDr").val());
	var auxiliaryTypePeriodNetQtyDr = toNumStr($("#auxiliaryTypePeriodNetQtyDr").val());
	var auxiliaryTypePeriodNetCr = toNumStr($("#auxiliaryTypePeriodNetCr").val());
	var auxiliaryTypePeriodNetQtyCr = toNumStr($("#auxiliaryTypePeriodNetQtyCr").val());
	$("#" + showCoaCode + "_beginBalance").val(toFormatStr(auxiliaryTypeBalance, 2, true));
	$("#" + showCoaCode + "_beginBalanceQty").val(auxiliaryTypeBalanceQty);
	$("#" + showCoaCode + "_periodNetDr").val(toFormatStr(auxiliaryTypePeriodNetDr, 2, true));
	$("#" + showCoaCode + "_periodNetQtyDr").val(auxiliaryTypePeriodNetQtyDr);
	$("#" + showCoaCode + "_periodNetCr").val(toFormatStr(auxiliaryTypePeriodNetCr, 2, true));
	$("#" + showCoaCode + "_periodNetQtyCr").val(auxiliaryTypePeriodNetQtyCr);
	auxiliaryData[editRowId].beginBalance = auxiliaryTypeBalance;
	auxiliaryData[editRowId].beginBalanceQty = auxiliaryTypeBalanceQty;
	auxiliaryData[editRowId].periodNetDr = auxiliaryTypePeriodNetDr;
	auxiliaryData[editRowId].periodNetQtyDr = auxiliaryTypePeriodNetQtyDr;
	auxiliaryData[editRowId].periodNetCr = auxiliaryTypePeriodNetCr;
	auxiliaryData[editRowId].periodNetQtyCr = auxiliaryTypePeriodNetQtyCr;
	var crDr = auxiliaryData[editRowId].crDr;
	if (crDr == 1) {
		auxiliaryData[editRowId].beginBalanceDr = auxiliaryTypeBalance;
		auxiliaryData[editRowId].beginBalanceQtyDr = auxiliaryTypeBalanceQty;
		auxiliaryData[editRowId].beginBalanceCr = 0;
		auxiliaryData[editRowId].beginBalanceQtyCr = 0;
	} else {
		auxiliaryData[editRowId].beginBalanceDr = 0;
		auxiliaryData[editRowId].beginBalanceQtyDr = 0;
		auxiliaryData[editRowId].beginBalanceCr = auxiliaryTypeBalance;
		auxiliaryData[editRowId].beginBalanceQtyCr = auxiliaryTypeBalanceQty;
	}

	var auxiliary = auxiliaryData[editRowId].auxiliary;
	if (auxiliary != null && auxiliary.length > 0) {
		/* 组合辅助项编码 */
		var auxiliaryCode = "";
		/* 组合辅助项名称 */
		var auxiliaryName = "";
		var auxiliaries = auxiliary.split("");
		for (var i = 0; i < auxiliaries.length; i++) {
			if (auxiliaries[i] != null && auxiliaries[i] == "1") {
				// 显示对应的辅助核算项 1-26
				var auxiliaryType = AuxiliaryType.get(i + 1);
				/* 获取当前辅助核算项的值 */
				var selectId = $("#" + auxiliaryType.auxiliaryTypeCode + "_select").val();
				var selectText = $("#" + auxiliaryType.auxiliaryTypeCode + "_select").find("option:selected").text();
				var modelCode = $("#" + auxiliaryType.auxiliaryTypeCode + "_select").find("option:selected").attr('data-code');
				auxiliaryCode += "_" + hexCas[auxiliaryType.seq - 1] + modelCode;
				auxiliaryName += "_" + selectText;
				auxiliaryData[editRowId][auxiliaryType.auxiliaryTypeCode] = selectId;
				auxiliaryData[editRowId][auxiliaryType.auxiliaryTypeCode + "Id"] = selectId;
			}
		}
		auxiliaryData[editRowId].coaCobinationCode = auxiliaryCode.substring(1);
		auxiliaryData[editRowId].coaCobinationName = auxiliaryName.substring(1);
		auxiliaryData[editRowId].showCoaCode = auxiliaryData[editRowId].coaCode + '_' + auxiliaryData[editRowId].coaCobinationCode;
		auxiliaryData[editRowId].showCoaName = auxiliaryData[editRowId].coaName + '_' + auxiliaryData[editRowId].coaCobinationName;
	}
	if (editType == 'create') {
		addRows(editRowId, addRowId);
	} else {
		var tdArr = $("#balanceRow" + editRowId).children();
		tdArr.eq(0).html('' + auxiliaryData[editRowId].showCoaCode + '<input id="' + auxiliaryData[editRowId].showCoaCode + '_id" name="' + auxiliaryData[editRowId].showCoaCode + '_id" type="text" hidden="true" value="' + auxiliaryData[editRowId].id + '"/>');// 修改coaCode
		tdArr.eq(1).html('' + auxiliaryData[editRowId].showCoaName + '<div onclick="reduceRows(\'' + editRowId + '\')">减</div>');
	}
}

// -----------------------------
function getAuxiliaryCodeById(id){
    if (id == null || id == "") {
        return '';
    }
    for (var i = 0; i < coaList.length; i++){
        if (coaList[i].id == coaId) {
            return coaList[i].isCurrency;
        }
    }
}

// 添加余额行
function addRows(editRowId, addRowId) {
	var tmpObject = auxiliaryData[editRowId];
	tmpHtml='<tr>\
			    <td>'+tmpObject.showCoaCode+'</td>\
			    <td class="urel">'+tmpObject.showCoaName+'\
					<span class="btn btn-danger btn-xs configBtn" onclick="reduceRows('+editRowId+',this)">删除</span>\
				</td>\
			    <td class="tx-c">'+DrFormat(tmpObject.crDr)+'</td>\
			    <td class="setData">\
			        <input id="'+tmpObject.showCoaCode+'_beginBalance" value="'+tmpObject.beginBalance+'" class="tx-r" readonly>\
			    </td>\
			    <td class="setData">\
			        <input id="'+tmpObject.showCoaCode+'_beginBalanceQty" value="'+tmpObject.beginBalanceQty+'" class="tx-c" readonly>\
			    </td>\
			    <td class="setData">\
			        <input id="'+tmpObject.showCoaCode+'_periodNetDr" value="'+tmpObject.periodNetDr+'" class="tx-r" readonly>\
			    </td>\
			    <td class="setData">\
			        <input id="'+tmpObject.showCoaCode+'_periodNetQtyDr" value="'+tmpObject.periodNetQtyDr+'" class="tx-c" readonly>\
			    </td>\
			    <td class="setData">\
			        <input id="'+tmpObject.showCoaCode+'_periodNetCr" value="'+tmpObject.periodNetCr+'" class="tx-r" readonly>\
			    </td>\
			    <td class="setData">\
			        <input id="'+tmpObject.showCoaCode+'_periodNetQtyCr" value="'+tmpObject.periodNetQtyCr+'" class="tx-c" readonly>\
			    </td>\
			</tr>';
	auxiliaryObj.after(tmpHtml);
	// 加到数组里
	glBalanceVOArray.splice(accAdd(addRowId, 1), 0, tmpObject);
	glBalanceVOArray[accAdd(addRowId, 1)].leaf = '1';
	glBalanceVOArray[accAdd(addRowId, 1)].type = '0';
	glBalanceVOArray[accAdd(addRowId, 1)].isAuxiliary = '1';
	auxiliaryDataSize = auxiliaryDataSize + 1;
	saveThisTable(1);
}

// 删除余额行
function reduceRows(editRowId,obj) {
	auxiliaryData[editRowId].beginBalance = 0;
	auxiliaryData[editRowId].beginBalanceQty = 0;
	auxiliaryData[editRowId].beginBalanceCr = 0;
	auxiliaryData[editRowId].beginBalanceDr = 0;
	auxiliaryData[editRowId].beginBalanceQtyDr = 0;
	auxiliaryData[editRowId].beginBalanceQtyCr = 0;
	auxiliaryData[editRowId].beginPeriodNetDr = 0;
	auxiliaryData[editRowId].beginPeriodNetQtyDr = 0;
	auxiliaryData[editRowId].beginPeriodNetCr = 0;
	auxiliaryData[editRowId].beginPeriodNetQtyCr = 0;
	glBalanceVOArray.splice(editRowId, 1);
	$(obj).parent().parent().remove();
	saveThisTable(2);
}


function testNum(arg) {
	if (arg == null || arg == '' || !isNaN(arg)){
		return true;
	}
	return false;
}

function checkRepeatShowCoaCode(editRowId) {
	var auxiliary = auxiliaryData[editRowId].auxiliary;
	var showCoaCode = '';
	if (auxiliary != null && auxiliary.length > 0) {
		/* 组合辅助项编码 */
		var auxiliaryCode = "";
		/* 组合辅助项名称 */
		var auxiliaryName = "";
		var auxiliaries = auxiliary.split("");
		for (var i = 0; i < auxiliaries.length; i++) {
			if (auxiliaries[i] != null && auxiliaries[i] == "1") {
				// 显示对应的辅助核算项 1-26
				var auxiliaryType = AuxiliaryType.get(i + 1);
				/* 获取当前辅助核算项的值 */
				var selectData = $("#" + auxiliaryType.auxiliaryTypeCode + "_select").val();
				auxiliaryCode += "_" + hexCas[auxiliaryType.seq - 1] + selectData[auxiliaryType.auxiliaryTypeCode + "Code"];
				auxiliaryName += "_" + selectData.text;
				auxiliaryData[editRowId][auxiliaryType.auxiliaryTypeCode] = $("#" + auxiliaryType.auxiliaryTypeCode + "_select").val();
			}
		}
		showCoaCode = auxiliaryData[editRowId].coaCode + '_' + auxiliaryCode.substring(1);
	}
	for (var i = 0; i < auxiliaryData.length; i++) {
		if (showCoaCode == auxiliaryData[i].showCoaCode && editRowId != i) {
			return true;
		}
	}
	return false;
}
</script>
